@using WebSitem.Models
@model Kategori
@{
    ViewBag.Title = "Kategoriler";
}

<h2>Kategoriler</h2>
<table class="table table-dark"id="tblktg">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kategori Ad</th>


            <th> <a href="/Kategoriler/KtgEkle" class="btn btn-danger">Kategori Ekle</a></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var kategori in ViewBag.Ktg)
        {

            <tr>
                
                <td>@kategori.KategoriId</td>
                <td>@kategori.KategoriAd</td>
                <th> <a  class="btn btn-danger ktgSil" data-id="@kategori.KategoriId">Kategori Sil</a></th>



            </tr>

        }

    </tbody>
</table>
@section scripts {
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(function () {
            $("#tblktg").on("click", ".ktgSil", function () {
                if (confirm("Silmek isteidğinize eminmisiniz?"))
                {
                var ktgId = $(this).data("id")
                $.ajax({
                    type: "POST",
                    url: "Kategoriler/KtgSil",
                    data: { id: ktgId },
                    success: function () {
                            location.reload();
                            console.log("silme işlemi başarılı...");


                        }

                }
                );
                }

                    

                





            })

        });



    </script>
    }










