@{
    ViewBag.Title = "Demo";
}
    <h2>HAKKIMDA</h2>
	  <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Urunler", "Index", "Urunler")</li>
                    <li>@Html.ActionLink("Musteriler", "Index", "Musteri")</li>
                    <li>@Html.ActionLink("UrunEkle", "UrunEkle", "Urunler")</li>
                    <li>@Html.ActionLink("Kategoriler", "Index", "Kategoriler")</li>
                 
                </ul>
            </div>

<div class="about-author  text h3">
    Merhaba! <br /> <br />  <br />
    Ben Onur ÇAYLAK. İstanbul Yıldız Teknik Üniversitesi, Moleküler Biyoloji ve Genetik bölümü mezunuyum. Hayatımın her döneminde bilgisayar üzerinde yapılan  çalışmaları inceleyen ve sıkılmadan bu konular üzerinde araştırmalar yapan birisi oldum. Lisans eğitimimin yanı sıra bilişiminden de kopmadan ortak bir paydada buluşturmak hedeflerimden biriydi. Bu bağlamda genetik verinin işlenmesi ve anlamlı hale getirilmesinde yazılımın ve veri işlemenin önemli olduğunu keşfettim. Kariyerimde de bu yönde  ilerlemek istediğimi genetik bilgimi ve yazılım bilgimi birleştirerek ortaya güzel projeler çıkarabileceğimi düşünüyorum. Genetik alanında ilk olarak kromozom analizi ve dijital görüntüleme sistemleri kullanan bir devlet hastanesinde stajımı tamamladım. Yazılım dünyasına giriş yapmam Istanbul Teknik Üniversitesi teknoparkta bulunan bir firmada iş hayatına başlamamla eş zamanlı oldu. Çalıştığım bu firma sağlık yazılımları üzerine çalışmalar yapan ve piyasada aktif olarak ürünlerini satan bir firmaydı. Kromozom Analiz sistemleri ve Patolojik tanıyı kolaylaştıran analiz programları yapan bu firmada çalıştıktan sonra iyi bir yazılım eğitimi almaya karar verdim. Bilge Adam/Bilkent şubesinde 6 ay süren .NetFramework eğitimi beraberinde güncel tekonolojileri ve piyasada kulanılan güncel yazılım program ve dillerini öğrendim. C# dili kullanarak yaptığım projelerle iyi bir noktaya geldiğimi düşünüyorum. Karakter olarak her zaman öğrenmeye ve yeni teknolojiler kullanmaya açık birisiyim. Ekip çalışması yapmak farklı fikirleri ve görüşleri alarak ortak projelere imza atmak her zaman öncelikli tercihim olmuştur.
</div>