@{
    ViewBag.Title = "Hakkında";
}
    <h2>HAKKIMDA</h2>

<div class="about-author  text h3">
    Merhaba! <br /> <br />  <br />
    Ben Onur ÇAYLAK Yıldız Teknik Üniversitesi Moleküler Biyoloji ve Genetik mezunuyum.Bilgisayar üzerinde yapılan çalışmaları her zaman inceleyen ve sıkılmadan bu konular üzerinde araştırmalar yapan birisiyim. Genetik verinin işlenmesi ve anlamlı hale getirilmesinde yazılımın ve veri işlemenin önemli olduğunu keşfettim.Kariyerim de bu noktada ilerlemek istediğimi Genetik bilgimi ve yazılım bilgimi birleştirerek ortaya güzel projeler çıkarabileceğimi düşünüyorum. Genetik alanında ilk olarak kromozom analizi ve dijital görüntüleme sistemleri kullanan bir devlet hastanesinde kısa süre çalıştıktan sonra bu sistemleri yapan firmayla bağlantı yaklayarak çalışmaya başladım. Yazılım dünyasıyla tanışmam İTÜ'de bulunan Teknopark firmalarının birisinde sağlık yazılımları üzerine çalışmalar yapan ve piyasada aktif olarak ürünlerini satan bir firmada Kromozom Analiz sistemleri ve Patolojik tanıyı kolaylaştıran analiz programları yapan bu firmada çalıştıktan sonra iyi bir yazılım eğitimi almaya karar verdim. Bilge Adam/Bilkent şubesinde 6 ay süren .NetFramework eğitimi beraberinde güncel tekonolojileri ve piyasada kulanılan,gerekli olan yazılımları öğrendim. C# dili kullanarak yaptığım projelerle iyi bir noktaya geldiğimi düşünüyorum.Yapım itibariyle herzaman öğrenmeye ve yeni teknolijiler kullanmaya açık birisiyimdir. Ekip çalışması yapmak farklı fikirleri ve görüşleri alarak proje ortaya çıkarmak herzaman tercihim olmuştur.
</div>