@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>


<address>
    Email:onrcylk1993@gmail.com<br />
    Ankara/Yenimahalle<br />
    <abbr title="Telefon">Tel:</abbr>
    530-237-06-32
</address>

<address>
    <strong>Profil</strong>   <a href="https://www.linkedin.com/in/onur-%C3%A7aylak-59701b104/">Linkedin</a><br />

</address>