
@{
    ViewBag.Title = "Hosgeldiniz";
}

    <body>

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>


        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-welcome relative">
                    <!-- .close -->
                    <a href="@Url.Action("Index","Home")" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="author-image-large"  >

                        <img src="~/img/13528558_10210449218373789_8977488482733766602_o (2).jpg" />
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="page-title">

                                    <h2>Onur <span class="primary">ÇAYLAK</span> <span class="title-bg">Hakkımda</span></h2>
                                    <p>Ben sizin için Web sitesi ve masaüstü uygulamları geliştirebilirm <br /> C#,Html,Css,Bootstrap,JavaScript dillerini kullanarak çalışıyorum.   <br />     Web sitemde görmüş oldugunuz gibi wep programla yaparak online ortamda stok,otomasyon vb uygulama isteklerinizi gerçekleştirebilirim.</p>

                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        <!-- ================================
    <!-- <script src="js/jquery.easing.min.js"></script> -->
        
        <script src="~/Scripts/isotope.pkgd.min.js"></script>
        <script src="~/Scripts/jquery.nicescroll.min.js"></script>
        <script src="~/Scripts/jquery-validation.min.js"></script>
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/form.min.js"></script>


        <script src="~/Scripts/main.js"></script>

    </body>
    <footer>
        <nav class="modal-footer">
            <div class="container">
                <div class="flex flex-middle space-between">
                    <span class="prev-page"><a href="@Url.Action("Index","Home")" class="link">&larr; Prev Page</a></span>
                    <span class="copyright hidden-xs">Copyright &copy; 2019, Onur CAYLAK All Rights Reserved.</span>
                    <span class="next-page"><a href="about.html" class="link">Next Page &rarr;</a></span>
                </div>
            </div>
            <!-- /.page-nav -->
        </nav>


    </footer>

@*<div>

    <p>Ben sizin için Web Sitesi ve masaüstü uygulamları geliştirebilirm <br /> C#,Html,Css,Bootstrap,JavaScript dillerini kullanarak çalışıyorum.   <br />     Web sitemde görmüş oldugunuz gibi wep Programla yaparak online ortamda stok,otomasyon vb uygulama isteklerinizi gerçekleştirebilirim.</p>

    </div>*@

