@{
    ViewBag.Title = "Ana Sayfa";
}

<!DOCTYPE html>
<html class="no-js" lang="">

<!-- Mirrored from demo.themefisher.com/themefisher/phantom/light/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Nov 2019 20:40:33 GMT -->
<head>
    <!-- meta charset -->
    <meta charset="utf-8">
    <!-- site title -->
    <title>Onur CAYLAK | Portfolio</title>
    <!-- meta description -->
    <meta name="description" content="">
    <!-- mobile viwport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fevicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.html">

    <!-- ================================
    CSS Files
    ================================= -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">

    <link href="~/Content/themefisher-fonts.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css">
    <link id="color-changer" rel="stylesheet" href="~/Content/colors/red.css" />


</head>

<body>

    <div class="preloader">
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
    </div>


    <main class="site-wrapper">
        <div class="pt-table">
            <div class="pt-tablecell page-home relative" style="background-image: url('../../img/banner.jpg');">
                <div class="overlay"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title home text-center">
s
                                <video autoplay="autoplay" loop muted height="600" width="600">

                                  
                                        @*<source src="~/img/logom.mp4" type="video/mp4" />*@
                                    
                                    @*<img src="~/img/mylogom.jpg" />
                                    <source src="~/img/mylogo2.mp4" type="video/mp4" />*@
                                    
                                        <source src="~/img/logom12.mp4" type="video/mp4" />
                                    
                                    @*<source src="~/img/logomefect.mp4" type="video/mp4" />*@

                                </video>




                                @*<p>Ben sizin için Web Sitesi ve masaüstü uygulamları geliştirebilirm <br /> C#,Html,Css,Bootstrap,JavaScript dillerini kullanarak çalışıyorum.   <br />     Web sitemde görmüş oldugunuz gibi wep Programla yaparak online ortamda stok,otomasyon vb uygulama isteklerinizi gerçekleştirebilirim.</p>*@
                            </div>

                            <div class="hexagon-menu clear">
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Hosgeldiniz","Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-dial"></i>
                                            </span>
                                            <span class="title">Hoşgeldiniz</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("About","Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-profile-male"></i>
                                            </span>
                                            <span class="title">Hakkında</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="services.html" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-tools-2"></i>
                                            </span>
                                            <span class="title">Services</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="resume.html" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-tools"></i>
                                            </span>
                                            <span class="title">Resume</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="works.html" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-briefcase2"></i>
                                            </span>
                                            <span class="title">Works</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="testimonials.html" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-chat"></i>
                                            </span>
                                            <span class="title">Testimonials</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a href="@Url.Action("Contact","Home")" class="hex-content">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="tf-envelope2"></i>
                                            </span>
                                            <span class="title">İletişim</span>
                                        </span>
                                        <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                    </a>
                                </div>
                            </div> <!-- /.hexagon-menu -->

                        </div> <!-- /.col-xs-12 -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->

            </div> <!-- /.pt-tablecell -->
        </div> <!-- /.pt-table -->
    </main> <!-- /.site-wrapper -->
    <!-- ================================
    JavaScript Libraries
    ================================= -->
    <script src="~/Scripts/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>

    <!-- <script src="js/jquery.easing.min.js"></script> -->

    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/jquery-validation.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/form.min.js"></script>


    <script src="~/Scripts/main.js"></script>

</body>

<!-- Mirrored from demo.themefisher.com/themefisher/phantom/light/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Nov 2019 20:40:33 GMT -->
</html>